<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create New Topic</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
  <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<!--<div th:replace="fragments/topnav :: navbar"></div>-->
<div align="center">
  <h1>Create New Topic</h1>
  <br />
  <div class="col-sm-4">
    <form action="#" th:action="@{/topic/savetopic}" th:object="${topic}" method="post">


      <div align="left">
        <tr>
          <label class="form-label" >Subject</label>
          <td>
            <input type="hidden" th:field="*{topicId}" />
            <input type="text" th:field="*{subject}" class="form-control"  />
          </td>
        </tr>
      </div>


      <div align="left">
        <tr>
          <label class="form-label" >Creator ID</label>

          <td>
            <input type="text" th:field="*{creatorId}" class="form-control"  />
          </td>
        </tr>
      </div>

      <div align="left">
        <tr>
          <label class="form-label" >Creation Date</label>
          <td><input type="date" th:field="*{creationDate}" class="form-control" /></td>
        </tr>
      </div>



      <br>
      <tr>
        <td colspan="2"><button type="submit" class="btn btn-info">Save</button> </td>
      </tr>

    </form>
  </div>
</div>
</body>
</html>



