<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="topic" type="prog3fp.llom.forum.Domain.Topic"-->
<!--@thymesVar id="post" type="prog3fp.llom.forum.Domain.Post"-->
<!--@thymesVar id="postList" type="List<Post>"-->
<!--*/-->
<head>
    <meta charset="UTF-8">
    <title>Create New Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
<h1 th:text="${topic.subject}">Hello topic</h1>

<!--<form action="#" th:action="@{/}" th:object="${topic}" method="post">-->

    <div sec:authorize="hasAuthority('ROLE_USER')">
        <a th:object="${topic}" th:href="@{'/post/newpost/'+ ${topic.topicId} + '/' + ${#authentication.getPrincipal().getUserId()}}">Add a post</a>
    </div>

<!--</form>-->

    <tr>
    <div class="col-sm-5 align-center">
        <div class="panel-body" align = "center" >


            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Post ID</th>
                    <th>Text</th>
                    <th>Creation Date</th>
                    <th>Creator Id</th>
                    <th>Topic Id</th>
                    <th>edit</th>
                    <th>delete</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="post : ${topic.postList}">
                    <td th:text="${post.postId}">Post ID</td>
                    <td th:text="${post.text}" >Text</td>
                    <td th:text="${post.creationDate}">Creation Date</td>
                    <td th:text="${post.user.userId}">creatorId</td>
                    <td th:text="${post.topicId}">Salary</td>
                    <td><a th:href="@{'/post/editpost/' + ${post.postId}}">Edit</a></td>
                    <td><a th:href="@{'/post/deletepost/' + ${post.postId}}">Delete</a></td>
                </tr>




                </tbody>
            </table>


        </div>

    </div>

</tr>

</tbody>
</table>

</body>
</html>



